#game {
    display: none;
    position: relative;
}

 @media (width>768px) and (height>500px) {
    #game {
        display: grid;
    }
}

 @media (width>960px) and (height>678px) {
    #game {
        transform: scale(1.5)
    }
}

@media (width>1280px) and (height>904px) {
    #game {
        transform: scale(2)
    }
}

@media (width>768px) and (height>500px) {
    #small {
        display: none;
    }
}

@media (pointer:fine) {
    #touch {
        display: none;
    }
}

#small,#touch {
    background: burlywood;
    z-index: 6767;
    padding: 24px;
    font-size: 24px;
    position: absolute;
    align-content: center;
    text-align: center;
    inset: 0
}


body {
    background: burlywood;
    color: #fff;
    font-optical-sizing: auto;
    -webkit-font-smoothing: none;
    overscroll-behavior: none;
    min-height: 100vh;
    text-rendering: geometricPrecision;
    place-items: center;
    font-family: Pixelify Sans,serif;
    font-style: normal;
    font-weight: 400;
    display: grid;
}

#room {
    z-index: 1;
    width: 640px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
}

*,:after,:before {
    box-sizing: border-box;
    user-select: none;
    margin: 0;
    padding: 0
}

#room > img {
    position: absolute;
}


#door {
    top: 100px;
    left: 15px;
}

#lock {
    top: 300px;
    left: 67px;
    width: 170px;
}

#osumi {
    top: 200px;
    left: 200px;
    width: 400px;
}